<f:layout name="Backend" />

<f:section name="content">
	<f:flashMessages />
	<f:for each="{caches}" as="cache" key="key">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{key}</h3>
			</div>
			<div class="panel-body">
				Frontend: {cache.frontend}<br /> Backend: {cache.backend}
				<f:if condition="{cache.originalBackend = TRUE}">
					<br /> Original Backend: {cache.originalBackend}
				</f:if>
				<br />
				<f:for each="{cache.groups}" as="group">
					Gruppe: {group}<br />
				</f:for>
				<f:for each="{cache.options}" as="option" key="optionKey">
					Option: {optionKey} = {option}<br />
				</f:for>

				<f:form action="start" name="startButton">
					<f:form.hidden name="cacheName" value="{key}" />
					<f:form.submit value="Start" class="btn btn-primary" />
				</f:form>

				<f:form action="stop" name="stopButton">
					<f:form.hidden name="cacheName" value="{key}" />
					<f:form.submit value="Stop" class="btn btn-primary" />
				</f:form>
			</div>
		</div>
	</f:for>
</f:section>