<div class="panel {f:if(condition: cache.isInAnalyseMode, then: 'panel-danger', else: 'panel-default')}">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-4">
				<h2 class="panel-title">
					{cache.name}
				</h2>
			</div>
			<div class="col-md-8">
				<f:form action="flush" style="margin-bottom:0px; float: left; margin-right: 5px;">
					<f:form.hidden name="cache" value="{cache}" />
					<button type="submit" class="btn btn-warning" aria-label="Delete log">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Flush cache
					</button>
				</f:form>
				<f:if condition="{cache.isInAnalyseMode}">
					<f:then>
						<f:form action="stop" style="margin-bottom:0px; float: left; margin-right: 5px;">
							<f:form.hidden name="cache" value="{cache}" />
							<button type="submit" class="btn btn-success" aria-label="Stop">
								<span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop
							</button>
						</f:form>
					</f:then>
					<f:else>
						<f:form action="start" style="margin-bottom:0px; float: left; margin-right: 5px;">
							<f:form.hidden name="cache" value="{cache}" />
							<button type="submit" class="btn btn-warning" aria-label="Start">
								<span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start
							</button>
						</f:form>
					</f:else>
				</f:if>
				<f:if condition="{cache.dynamicKpi}">
					<f:form action="delete" style="margin-bottom:0px; float: left; margin-right: 5px;">
						<f:form.hidden name="cache" value="{cache}" />
						<button type="submit" class="btn btn-info" aria-label="Delete log">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete log
						</button>
					</f:form>
				</f:if>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				Frontend: {cache.frontend}<br /> Backend: {cache.backend}
				<f:if condition="{cache.originalBackend = TRUE}">
					<br /> Original Backend: {cache.originalBackend}
				</f:if>
				<br />
				<f:for each="{cache.groups}" as="group">
					Gruppe: {group}<br />
				</f:for>
				<f:for each="{cache.options}" as="option" key="optionKey">
					Option: {optionKey} = {option}<br />
				</f:for>
			</div>
			<div class="col-md-4">
				<f:render partial="Stats" arguments="{stats: cache.staticKpi}" />
			</div>
			<div class="col-md-4">
				<f:render partial="Stats" arguments="{stats: cache.dynamicKpi}" />
			</div>
		</div>
	</div>
</div>